/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){

/* Header */
.logo-container {
    margin: 0;
}

.header-container1 {
    display: none;
}

.header-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 52px 25px 48.82px 29px;
}

.img-logo-header {
    width: 37.18px;
    height: 37.18px;
    margin-right: 9.96px;
}
.img-marca-header {
    width: 100.917px;
    height: 13.279px;
}

.input-header-container {
    display: none;
}

.language-container {
    display: none;
}

.currency-container {
    display: none;
}

.account-container {
    display: none;
}

.shopping-bag {
    display: none;
}

.menu-search-mquery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-container3 {
    display: none;
}
/* Header End*/

/* Home */

/* Container1 */
.container1-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.content1-container1 {
    width: 374px;
    height: 258px;
    border-radius: var(--12, 12px);
    background: linear-gradient(90deg, #007C0C 27.93%, #057A10 27.94%, #06C018 99.94%);
    margin: 0;
}

.content1 {
    margin-left: 19px;
}

.title1-content1-container1 {
    margin: 51px 0 0 1px;
}
.title1-content1-container1 h2 {
    display: none;
}
.title1-content1-container1 svg {
    display: block;
}

.title2-content1-container1 {
    height: 28px;
    border-left: 1px solid #84D187;
    margin: 19px 0 27px 0;
    display: flex;
    align-items: center;
}
.title2-content1-container1 p {
    display: none;
}
.title2-content1-container1 svg {
    display: block;
    margin-left: 7px;
}

.button-content1-container1 button {
    width: 82px;
    height: 22px;
}

.img1-content1-container1 img {
    width: 283px;
    height: 254px;
}
.img2-content1-container1 img {
    width: 282.965px;
    height: 251.667px;
}

.content2 {
    width: 181.784px;
    height: 122.618px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.content2-container {
    display: none;
}
.content2-container-mquery {
    display: block;
}
.content2-container-mquery svg {
    margin: 19.29px 0 0 9.86px;
    position: absolute;
    z-index: 2;
}

.img-content2-container1 {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: flex-end;
}
.img-content2-container1 img {
    width: 109.756px;
    height: 110.185px;
}

.content2-container1 {
    display: flex;
    flex-direction: row;
    margin: 21.52px 0 0 0;
}

.text1-2-content3-mquery {
    display: block;
}

.content3 {
    width: 181.355px;
    height: 123.476px;
    margin: 0 0 0 9.86px;
}

.content3-container {
    margin: 23.48px 0 0 25.36px;
}

.text1-content3, 
.text2-content3, 
.button-content3-container1
{
    display: none;
}

.img1-content3-container1 {
    width: 60.452px;
    height: 33.87px;
}
.img1-content3-container1 img {
    width: 60.452px;
    height: 33.87px;
}

.button-content3-container1-mquery {
    display: block;
    border: none;
    background: transparent;
}

.img2-content3-container1 img {
    width: 32.155px;
    height: 123.476px;
}

.content3-container1 {
    display: flex;
    width: 373px;
    height: 213px;
    padding: 30px 23.456px 29.026px 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    flex-direction: column;
    justify-content: space-between;
}
.content3-container1 span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.free-shipping-container,
.customer-support-container,
.shopping-bag-container,
.garantie-container
{
    display: none;
}

.free-shipping-container-mquery,
.customer-support-container-mquery,
.shopping-bag-container-mquery,
.garantie-container-mquery
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-svg-content3-container1-mquery {
    margin-bottom: 9.83px;
}
/* Container1 End */

/* Container2 */
.content1-container2 {
    margin: 60px 0 53px 0;
}

.title-content1-container2 h2 {
    display: flex;
    flex-direction: column;
    color: #002603;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.text-content1-container2 p {
    display: flex;
    flex-direction: column;
    color:#1A1A1A;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 13px;
}

.buttons-content1-container2 {
    display: none;
}
.buttons-content1-container2-mquery {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.margin-buttons-content1-mquery {
    margin: 0 7.66px 0 7.66px;
}

.content3-container2 {
    width: 397px;
    height: 167px;
    margin: 60px 0 50px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.img-bottle-content3-container2 {
    padding: 0;
}
.img-bottle-content3-container2 img {
    width: 203px;
    height: 109px;
    margin-top: 30px;
}

.img-bottle-mquery {
    display: block;
}

.oil-product-content3-container2 h4, .discount-text, .discount-text2, .button-discount-content3-container2, .img-bottle {
    display: none;
}

.oil-product-content3-container2 {
    margin-left: 7px;
}

.oil-product-content3-container2-mquery {
    display: block;
    margin-top: 36px;
}

.button-discount-content3-container2-mquery {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8.85px;
}

.ticket-text-mquery img {
    width: 11.199px;
    height: 10.399px;
}

.title-content4-container2 {
    margin-bottom: 23px;
}
.title-content4-container2 h2 {
    margin: 0 52px 0 0;
    color: #002603;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.ver-button-content4-container2 {
    margin: 0 0 0 52px;
    gap: 7px;
}
.ver-button-content4-container2 p {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.ver-button-content4-container2 img {
    display: none;
}

.ver-button-content4-container2 svg {
    display: block;
}
/* Container2 End */

/* Container3 */
.title-container3  {
    display: none;
}

.content-container3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: max-content;
    margin: 0 0 73px 30px;
}

.daily-deal1-container3 {
    width: 163px;
    height: 205px;
}
.daily-deal1-container3 h3 {
    display: none;
}
.daily-deal1-container3 h2 {
    display: none;
}
.daily-deal1-container3 svg {
    display: block;
}

.daily-deal1-text1-mquery {
    margin: 0 0 15px 24px;
}

.daily-deal1-text2-mquery {
    margin: 0 0 -5px 45px;
}

.deal-button-container {
    margin: 13px 11px 9px 0;
}
.deal-button-container p {
    display: none;
}
.deal-button-container svg {
    display: block;
}

.margin1-button-bag-product {
    margin-left: 19px;
}
.margin2-button-bag-product {
    margin-left: 16px;
}
.margin3-button-bag-product {
    margin-left: 80px;
}

.button-bag-product-container2 {
    width: 15px;
    height: 16px;
    padding: 4px 5px 5px 4px;
}
.button-bag-product-container2 img {
    display: none;
}

.img1-daily-deal1-container3 {
    width: 159px;
    height: 103px;
}

.daily-deal2-container3 {
    width: 161px;
    height: 205px;
    margin: 0 8px;
    background-size: 70px 201px;
}

.daily-deal2-container3 h3 {
    display: none;
}
.daily-deal2-container3 h2 {
    display: none;
}

.daily-deal2-text1-mquery {
    margin: 0 0 0 9px;
    display: block;
}

.daily-deal2-text2-mquery {
    margin: 11px 0 0 39px;
    display: block;
}

.daily-deal3-container1 {
    width: 163px;
    height: 206px;
}

.daily-deal3-container1 h3 {
    display: none;
}

.daily-deal3-container1 h2 {
    display: none;
}

.daily-deal3-text1-mquery {
    margin: 0 0 0 13px;
    display: block;
}

.daily-deal3-text2-mquery {
    margin: 13px 0 0 41px;
    display: block;
}
/* Container3 End */

/* Container4 */
.container4 {
    display: flex;
    justify-content: flex-start;
    background: #FFF;
    margin: 0;
    height: auto;
}
.container4 h2 {
    display: flex;
    flex-direction: column;
    color: #1A1A1A;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    margin: 0;
}

.images-container4 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    
}
.images-container4 span {
    display: flex;
    flex-direction: row-reverse;
}
.images-container4 img {
    width: 112px;
    height: 112px;
    margin: 0;
}

#margin1-images-container4-mquery {
    margin: 0 14px;
}
#margin2-images-container4-mquery {
    margin: 0 14px;
}

.images2-container4-mquery {
    margin: 44px 0 14px 0;
}
.images1-container4-mquery {
    margin-bottom: 29.65px;
}
/* Container4 End */

/* Home End */

/* About Us */
.about-us {
    display: block;
    padding-left: 29px;
}

.about-us-panel-control {
    display: none;
}

.content1-about-us {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content1-about-us-container h2 {
    color: #1A1A1A;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 21px 0;
}
.content1-about-us-container p {
    color: #666;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.content1-about-us-container span {
    color: #057A10;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.content2-about-us-container h2 {
    margin: 41px 0 21px 0;
    color: #1A1A1A;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.content2-about-us-container p {
    color: #666;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.content2-about-us-container span {
    color: #057A10;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.br1-about-us {
    display: none;
}
.br2-about-us {
    display: block;
}

.img1-about-us-container {
    width: auto;
    height: auto;
    margin: 41px 0;
}
.img1-about-us-container img {
    width: 374px;
    height: 272px;
    border-radius: 8px;
}

.content2-about-us {
    box-shadow: none;
    background: none;
    margin: 0;
    height: auto;
}

.img2-about-us-container img {
    display: none;
}

.content3-4-about-us img {
    display: block;
    width: 374px;
    height: 226.918px;
    border-radius: 8px;
}

.content3-about-us {
    margin: 0;
}
/* About Us End */

/* Footer */
footer {
    display: none;
}
/* Footer End */

/* About Us */

/* About Us End */
}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}