/* ################################## */
            /*Responsive*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Responsive*/
/* ################################## */
/* ################################## */
            /*Fonts*/
/* ################################## */
@import url(fonts/);
/* ################################## */
            /*Fonts*/
/* ################################## */

/* Your Style */

/* Header */
header {
    width: 100%;
    height: 30vh;
    background-color: aquamarine;
}
/* Header End*/

/* container1 */

/* container1 End */

/* container2 */

/* container2 End */


/* container3 */

/* container3 End */

/* container4 */

/* container4 End */

/* footer */

/* footer end */

/* Your Style */