/* ################################## */
            /*Imports*/
/* ################################## */
@import url(core-responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Fonts*/
/* ################################## */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ################################## */
            /*Fonts*/
/* ################################## */

/* ################################## */
            /*Plugins*/
/* ################################## */
@import url(../plugins/cookies.css);
/* ################################## */
            /*Plugins*/
/* ################################## */

/* Default */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* Default */

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

/* HTML */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HTML */

/* Body */
body {
  background-color:  #FFFFFF !important;
  color: #666666;
}
/* Body */

/* Fixed's */
  /* Top */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Top */
  /* Top right */
  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  /* Top right */
  /* Top left */
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* Top left */

  /* Bottom */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Bottom */
  /* Bottom right */
  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  /* Bottom right */
  /* Bottom left */
  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  /* Bottom left */
/* Fixed's */


/* COMPONENTS */
  /* EFECTO 1 SCROLL */
  svg {
    overflow: visible !important;
  }
  
  .ukahec {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    padding: 0 1rem;
    transform-origin: center top;
  }
  
  .imawec {
    height: 200vh;
    width: 100%;
    object-fit: cover;
    will-change: transform;  
  }
  
  .oyufuq {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  
  .aqezir {
    width: 100%;
    overflow: visible;
    z-index: 2;
  }
  
  .eyugug {
    display: flex;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    transform-origin: center top;
  }
  
  .anocej {
    height: 100%;
  }
  
  .panel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .odatas {
    display: grid;
    grid-template-rows: 45vh 45vh 45vh;
    grid-gap: 1rem;
    height: 100%;
  }
  
  .ohozap {
    width: 100%;  
  }
  
  .ohozap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ovojih {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: 1fr 1fr;
  }
  
  .izoyih {
    width: 300%;  
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    will-change: transform;
  }
  
  .usewed {
    height: 100%;
    width: 100%;
  }
  
  .amofud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .uxupiv {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .epumet {
    fill: #fff;
  }
  /* EFECTO 1 SCROLL */
  /* EFECTO 2 SCROLL */
  .eyexab {
    padding-top: 60vh;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 150vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 2%);
    grid-template-rows: repeat(30, 3%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    object-fit: cover;
  }
  
  .content__slide-item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  img:nth-child(1) {
    grid-area: 1/1/6/8;
  }
  
  img:nth-child(2) {
    grid-area: 3/12/8/20;
  }
  
  img:nth-child(3) {
    grid-area: 9/5/13/15;
  }
  
  img:nth-child(4) {
    grid-area: 14/1/18/8;
  }
  
  img:nth-child(5) {
    grid-area: 16/12/20/19;
  }
  
  img:nth-child(6) {
    grid-area: 20/2/25/9;
  }
  
  img:nth-child(7) {
    grid-area: 22/11/24/20;
  }
  
  img:nth-child(8) {
    grid-area: 26/5/30/15;
  }
  /* EFECTO 2 SCROLL */
  /* EFECTO 3 SCROLL */
  :root {
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
   
    --fluid-screen: 100vw;
    --fluid-bp: calc(
     (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
    );
   }
   
   @media screen and (min-width: 1140px) {
    :root {
     --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
   }
   
   :root {
    --f-0-min: 18;
    --f-0-max: 20;
    --step-0: calc(
     ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
    );
   
    --f-1-min: 20;
    --f-1-max: 24;
    --step-1: calc(
     ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
    );
   }
   
* {
    box-sizing: border-box;
   }
   
   body {
    background-color: #111;
    font-family: "Poppins", sans-serif;
    color: white;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-x: hidden;
    font-size: var(--step-0);
   }
   
   section {
    min-height: 100vh;
   }
   
   p {
    line-height: 1.35;
   }
   
   #enutin{
    padding: 0 0.75rem;
   }
   
   .ejuyat {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0.5rem;
   }
   
   h1,
   h2,
   h3,
   h4,
   p {
    margin: 0;
   }
   
   .ozoruh > * + * {
    margin-top: 2em;
   }
   
   ecesar > * + * {
    margin-top: 1em;
   }
   
   .urihet {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
   }
   
   #enutin{
    overflow: visible;
    width: 100%;
   }
   
   .ejajoy {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
   }
   
   h1 {
    font-size: clamp(12px, 8vw, 100px);
    text-align: center;
    line-height: 0.67;
    margin: 0 auto;
    font-family: "wild_worldbold";
   
    .eyebrow {
     font-family: "Open sans", sans-serif;
     font-size: clamp(12px, 3vw, 40px);
     font-weight: 400;
    }
   }
   
   .ejajoy p {
    font-family: "wild_worldbold";
    font-size: 15.5vw;
    font-size: clamp(12px, 15.5vw, 250px);
    text-align: center;
    line-height: 0.67;
    margin: 0;
    text-align: center;
    color: #111;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: -10;
   }
   
   .intro,
   h2,
   h3 {
    font-size: var(--step-1);
    font-weight: 500;
   }
   
   .ohecen {
    position: relative;
   }
   
   .ohecen p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: transparent;
   }
   
   .ohecen p:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: white;
   }
   
   .efemox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
    width: 70vw;
    margin: 0 auto;
    padding-top: 40vh;
    z-index: -1;
   
    .edogep {
     position: relative;
     aspect-ratio: 1/1;
     overflow: hidden;
    }
   
    img {
     position: absolute;
     top: 0;
     width: 100%;
     height: 150%;
     object-fit: cover;
    }
   
    .edogep:nth-child(1) {
     grid-column: 1;
     grid-row: 1;
    }
   
    .edogep:nth-child(2) {
     grid-column: 3;
     grid-row: 2;
    }
   
    .edogep:nth-child(3) {
     grid-column: 2;
     grid-row: 3;
    }
   }
   
   .parallax-images {
    margin-top: 10vh;
    padding: 10rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 20vh;
    align-items: center;
    justify-items: center;
   
    .edogep {
     position: relative;
     height: 80vh;
     overflow: hidden;
    }
   
    img {
     position: absolute;
     bottom: 0;
     margin: 0 auto;
     height: 140%;
     width: 100%;
     object-fit: cover;
    }
   
    .parallax-text {
     grid-column: 2;
     grid-row: 1;
    }
   
    .edogep:nth-child(2) {
     grid-column: 1 / span 1;
     grid-row: 1;
     width: 100%;
    }
   
    .edogep:nth-child(3) {
     grid-column: 2 / span 1;
     grid-row: 2;
    }
   }
   
   .spacer {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .stagger {
    font-size: 8vw;
   }
   
   .iyupez {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
   
    .isiyaj {
     flex: 1 1 300px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
    }
   
    .iyupez {
     flex: 1 1 500px;
     display: flex;
     width: 100%;
     height: 60vh;
     align-items: flex-end;
    }
   
    .iwuweg {
     border-radius: 10px;
     margin: 2vw;
     text-align: center;
     flex: 1 0 auto;
     font-size: var(--step-0);
     justify-self: flex-end;
     font-family: "wild_worldbold";
     font-size: clamp(16px, 3vw, 36px);
    }
   }
   
   .enutin{
    border-left: solid 1px white;
    padding: 0.5rem 2rem;
   }
   
   .staggered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
   
    h3 {
     font-family: "wild_worldbold";
     font-size: clamp(16px, 6vw, 80px);
     letter-spacing: 0.03em;
    }
   
    &_text {
     flex: 1 1 300px;
    }
   
    &_demo {
     flex: 1 1 500px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
   }
   
   .ecudab {
    position: relative;
    height: 500px;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
   
    img {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 180%;
     object-fit: cover;
    }
   }
   
   .azaroc {
    display: flex;
    align-items: center;
   }
  /* EFECTO 3 SCROLL */
/* COMPONENTS */